player-connection-mode=Listen
player-connection-guid=1876509102
player-connection-debug=0
player-connection-project-name=Pun2
player-connection-ip=192.168.0.101
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e94c25615fb6498482848c27928f5329
